@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Pirata+One&family=Roboto+Slab:wght@300&family=Roboto:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

html{
    height: 100%;
    width: 100%;
    background-image: url(/Projet_recettes/IMG/bcklogin.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/********************** HEADER *****************************/


header{
    background-color: rgb(182, 71, 71);
    position: fixed;
    width: 100%;
    height: 10vh;
}


.dropdown-menu{
    background-color: #cd4848b8;
}

.dropdown-item{
    color: white;
}

#btn{
    background-color: white;
    color: #cd4848;
    right: 30px;
}

#btn:hover{
    color: rgb(205, 109, 19);
}




a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    color: rgb(255, 255, 255);
}

/************CONTENT 2****************/


#menu{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
}

ul{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

li{
    list-style: none;
}

li:hover{
    border-bottom: 1px solid #ffffff;
}


#logo{
    margin-top: 8px;
    margin-left: 10px;
    font-size: 19px;
}

#isa{
    color: rgb(133, 29, 29);
    letter-spacing: 2px;
    font-weight: 600;
}


#btn{
    color: rgb(255, 255, 255);
    background-color: rgb(153, 71, 71);
    border: none;
    font-size: 15px;
    margin:0px 5px 5px 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 3px;
}

#btn:hover{
    background-color: white;
    color: rgb(153, 71, 71);
}




/********************** LE FORMULAIRE DE CONNEXION **********************/

#formulaire {
    padding: 20px;
    background-image: linear-gradient(rgb(192, 39, 39),rgba(250, 165, 95, 0.724));
    width:20%;
    float: right;
    margin-right: 220px;
    margin-top: 100px;
    height: 430px;
    color: white;
    font-size: 15px;
  }
  
  
#formulaire legend{
    font-size: 25px;
    text-align: center;
    padding-bottom:  20px;

}

hr{
    border: 1px solid #ffffff;
}


input{
    width: 100%;
    border: none;
    padding: 5px;
}

#btn2{
    width: 100%;
    background-color: white;
    color: rgb(205, 88, 15);
    font-size: 16px;
}

#btn2:hover{
    color: white;
    background-color: #cd4848;
    cursor: pointer;
}

#btn{
    background-color: white;
    color: #cd4848;
    right: 30px;
}

#btn:hover{
    color: rgb(205, 109, 19);
}


/************** ICON YEUX ***********************/

i{
    color: rgb(0, 0, 0);
}

/**********************************************/

#forgetpsw{
    margin-left: 65px;
    font-size: 10px;
    color: #cd4848;
}


#sec1 {
    position: relative;
}

#password {
    padding-right: 30px; 
}

#toggle-password {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: inherit;
}


/************************ Message d'erreur ************************/

.afficher{
    background-color: #d01414;
    font-size: 14px;
    color: white;
    background-color: #cd4848;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}

.cacher{
    display: none;
}


/************** FOOTER **************/
footer{
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30px;
    background-color:rgba(250, 165, 95, 0.724) ;
    color: white;
    font-size: 13px;
}
